
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <button type="button" id="btnGaraje">Cargar Garaje</button>
    <button type="button" id="btnGarajeSimple">Cargar Garaje Simple</button>
    <button type="button" id="btnLimpiar">LimpiarDatos</button>
</div>
<div id="divGaraje">

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnGaraje").click(function () {
                $("#divGaraje").load("_Garaje");
            });
            $("#btnGarajeSimple").click(function () {
                $("#divGaraje").load("_GarajeSimple");
            });
            $("#btnGarajeLimpiar").click(function () {
                $("#divGaraje").load("");
            });
        })
    </script>
    }