
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

Minombre es: @ViewData["Nombre"] mi correo es
@ViewBag["Correo"]}">Correo Carlos
@(((DateTime)ViewData["Fecha"]).ToLongDateString())
@ViewData["Fecha"]
